@model PhotoSharing.Models.PhotoDisplayModel
<a href="@Url.Action("Details", "Photo", new { id = Model.PhotoID })" title="@Model.Title">
    <img alt="@Model.Description" src="@Url.Action("Image", "Photo", new { id = Model.PhotoID })" />
</a>

